@page "/"

<PageTitle>Bienvenida</PageTitle>

<h1>Examen Parcial 2 Sebastian Leon </h1>

<div>   
libros revistas y libros electronicos.
</div>
Una biblioteca desea llevar el control de los libros que tienen en sus instalaciones.
